{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block styles %}
    <link href="{% static 'css/about_page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid about_cont">
        <div class="row title_about">
             <div class="col col-md-11 offset-md-1 "><h1>Почему стоит выбрать именно нас?</h1></div>
        </div>
        <div class="row">
            {% cache 3600 container-about %}
            <div class="col col-md-3 offset-md-1">
                <div class="container-about">
                    <img src="{% static 'img/kachestvo.png' %}" alt="1" class="photos">
                    <div class="photos-title">Качество</div>
                    <div class="photos-text">Производство продукции тщательно отслеживается и контролируется</div>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="container-about">
                    <img src="{% static 'img/personal.png' %}" alt="1" class="photos">
                    <div class="photos-title">Опытный персонал</div>
                    <div class="photos-text">Каждый сотрудник проходит профессиональное обучение</div>
                </div>

            </div>
            <div class="col col-md-3">
                <div class="container-about">
                    <img src="{% static 'img/garant.png' %}" alt="1" class="photos">
                    <div class="photos-title">Гарантия</div>
                    <div class="photos-text">Предоставляем официальную гарантию по договору от 3 до 5 лет</div>
                </div>
            </div>
            {% endcache %}
        </div>
    </div>

{% endblock %}