{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/profile_page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid profile_cont">
        <div class="row title_order">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>Мои заказы:</h1>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-9">
                <div class="container-fluid table_cont">
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}