{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block styles %}
    <link href="{% static 'css/start_page.css' %}" rel="stylesheet">
{% endblock %}

{% cache 3600 body %}
{% block content %}
    <div class="container-fluid start_cont">
        <div class="row title">
            <div class="col col-lg-1"></div>
            <div class="col col-lg-5 col-md-6">
                <h1>Кровля крыши <br>по вашему заказу</h1>
                <p class="p_title">Предлагаем материал на ваш выбор</p>
                <a class="btn" href="{% url 'about' %}">ПОДРОБНЕЕ <img
                        src="{% static 'img/arrow_for.svg' %}" alt="">
                </a>
            </div>
            <div class="col col-lg-5">
                <div class="container fast-form">
                    <p>Заполните короткую форму,<br> чтобы мы вам позвонили</p>
                    <form action="{% url 'home' %}" method="post" novalidate>
                        {% csrf_token %}
                        <label class="icon">
                            <i class="icon-user"></i>
                            {{ form.name }}
                        </label>
                        <label class="icon">
                            <i class="icon-phone"></i>
                            {{ form.phone_number }}
                        </label>
                        <button type="submit">Оставить заказ</button>
                    </form>
                </div>
            </div>
            <div class="col col-lg-1"></div>
        </div>
    </div>

{% endblock %}
{% endcache %}

