body{
    background: url("../img/background2.png") no-repeat;
    background-size: 100%;
}

.material_cont {
    background-color: rgba(30, 30, 30, .7);
    max-height: 1080px;
    height: 100vh;
    top: 0;
    left: 0;
}
