body {
    background: url('../img/background2.png') no-repeat;
    background-size: 100%;
}

.order_cont{
    background-color: rgba(30, 30, 30, .7);
    max-height: 1080px;
    height: 100vh;
    top: 0;
    left: 0;
}

.content {
    background: rgba(244, 244, 244, 0.7);
    border-radius: 20px;
    margin-top: 100px;
    justify-content: center;
}

.content__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #070635;
    margin-top: 20px;
}

.input {
    margin-bottom: 20px;
}

.intup__size {
    padding-left: 8%;
    
    background: #FFFFFF;
    border: 1px solid #9A9A9A;
    border-radius: 15px;
    height: 50px;
}

.material {
    background: #FFFFFF;
    border: 1px solid #9A9A9A;
    border-radius: 15px;
    height: 200px;
    margin-left: 2%;
    padding: 3%;
}

.title-check {
    padding-left: 2%;
}

.check__item {
    padding-left: 7%;
}

.photo {
    background: #FFFFFF;
    border: 1px solid #9A9A9A;
    border-radius: 15px;
    height: 200px;
    transform: translateX(-30px);
    padding-top: 30px;
}

.img__item{
    max-width: 100%;
}

.btn__btn {
    background-color: #F3CC00;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
}

.btn-secondary {
    max-width: 100%;
}

.button {
    margin-bottom: 30px;
}

.intup__file {
    display: none;
}

@media(max-width: 1317px){
    .photo {
        padding-top: 10px;
    }
}

@media(max-width: 1000px){
    .btn-secondary {
        font-size: 75%;
    }
}

@media(max-width: 769px){
    .photo {
        transform: translateX(0);
    }
    .material {
        margin-left: 0;
    }
}