.popup_button {
    display: block;
    width: 300px;
    margin: 15px auto 15px auto;
    padding: 11px 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    border-radius: 7px;
    border: none;
    background-color: #F3CC00;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    background-color: #F4F4F4;
    color: #000;
    max-width: 800px;
    padding: 25px;
    position: relative;
    border-radius: 15px;
}

.pop {
    font-size: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
}

.popup_content form {
    float:left;
    margin: 10px auto 0 auto;
    font-size: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.popup_content form input{
    margin-bottom: 3%;
    margin-right: 15px;
    margin-left: 15px;
    width: 300px;
    float: right;
    border-radius: 15px;
    border: 1px solid #9A9A9A;
    height: 40px;
    padding-left: 14%;
}

.popup_content form input:focus{
    outline: none;
}

.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.Sing_text {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.Sing_text a{
    color: #1A869E;
    font-size: 14px;
}

.popup-icon{
    position: relative;
}
.popup-icon i{
    position: absolute;
}

.popup-icon-email{
    content:url("../img/email.svg");
    max-width: 17px;
    top: 24%;
    left: 10%;
}

.popup-icon-password {
    content:url("../img/password.svg");
    max-width: 17px;
    top: 22%;
    left: 10%;
}

.popup-icon-user {
    content:url("../img/user.svg");
    max-width: 17px;
    top: 22%;
    left: 10%;
}

.popup-icon-phone {
    content:url("../img/phone.svg");
    max-width: 17px;
    top: 22%;
    left: 10%;
}