body{
    background: url("../img/background1.png") no-repeat;
    background-size: 100%;
}

.title{
    padding-top: 30px;
}

.start_cont {
    background-color: rgba(30, 30, 30, .7);
    height: 100vh;
    top: 0;
    left: 0;
}

.h1_title {
    color: #ffffff;
    font-family: 'Roboto Light';
    font-style: normal;
    font-size: calc(25px + 20 * (100vw/1280));
    margin-top: 22%;
}

.p_title {
    color: rgb(243,204,0);
    font-size: calc(15px + 10 * (100vw/1280));
    font-family: 'Roboto Light';
    font-style: normal;
}

.start_cont .btn {
    border-radius: 12px;
    background-color: rgba(244, 244, 244, 0.7);
    margin-top: 5%;
    color: #000000;
    font-family: 'Inter', ui-serif;
    font-style: normal;
    font-size: 15px;
    padding: 2% 5%;
}

.start_cont .btn img{
    padding-bottom: 3%;
    padding-left: 2%;
    max-width: 9px;
    width: 100%;
}

.fast-form{
    top:20px;
    background-color: rgba(244, 244, 244, 0.7);
    height: auto;
    margin-top: 22%;
    border-radius: 10px;
    max-width: 400px;
}

.fast-form p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    justify-content: center;
    padding-top: 7%;
    margin-bottom: 0;
}

.fast-form form{
    display: grid;
    justify-content: center;
}

.fast-form form input{
    margin-top: 6.5%;
    padding-left: 12%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    width: 300px;
    height: 50px;
}

.fast-form form button{
    margin-top: 12%;
    border-radius: 7px;
    height: 50px;
    border: none;
    background-color: #F3CC00;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10%;
}

.icon{
    position: relative;
}
.icon i{
    position: absolute;
    margin-top: 20px;
}

.icon-user{
    content:url("../img/user.svg");
    max-width: 17px;
    top: 22%;
    left: 2.5%;
}

.icon-phone{
    content:url("../img/phone.svg");
    max-width: 17px;
    top: 23%;
    left: 2%;
}

.icon input:focus{
    outline: none;
}