.navbar {
    --bs-navbar-nav-link-padding-x: 3rem;
}
.navbar-brand {
    margin-left: 5%;
}
.navbar-brand img {
    width: 100%;
    max-width: 80px;
}

.navbar-brand text {
    font-family: 'Lucida Calligraphy', cursive;
    font-size: 28px;
    color: #ffffff;
}

.dp-nav img {
    width: 100%;
    max-width: 45px;
    margin-right: 5%;
}

.nav-link {
    align-items: center;
    font-family: 'Inter', ui-serif;
    font-size: 18px;
    color: #ffffff;
}

.dp-nav{
    font-size: 20px;
    color: #ffffff;
    margin-right: auto;
}

.ms-auto {
    margin-right: 1%;
}

.mx-auto a{
    align-content: center;
}

.dp-nav::after{
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: url("../img/toggle.svg");
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}


/* Слайдер */
.slider {
    position: relative;
    padding: 0 60px;
}
/* Ограничивающая оболочка */
.slider .slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slider .slick-track {
    display: flex;
    align-items: flex-start;
}
/* Стрелка */
.slider .slick-arrow {
    position: absolute;
    margin: -20px 12px 0 12px;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px;
    border: 0;
}
/* Стрелка влево */
.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/arrow-left-circle.svg') 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/arrow-right-circle.svg') 0 0 / 100% no-repeat;
}

.slider_item {
    transition: all 0.6s ease 0s;
    height: 190px;
    margin: 20px;
    text-align: center;
    opacity: 0.4;
}

.slider_item.slick-center {
    opacity: 1;
}

.slider_item img {
    height: 190px;
}

.slider_container {
    background: white;
}

.form_container {
    border: 3px solid #f7cfa3;
    height: 500px;
    width: auto;
    margin: 80px 10% 30px 10%;
}

.form_container p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

.form_container form {
    float: right;
    margin: 50px 200px 0 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

.form_container form input {
    display: block;
    margin: 0 auto 25px auto;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.form_container form button {
    margin-left: 5px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    background: orange;
    width: 300px;
}

.form_container form p {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.form_container img {
    width: 600px;
    height: 400px;
    margin: 0 0 40px 200px;
    border-radius: 20px;
}

.container_roof_form {
    margin: 20px 550px;
    width: 700px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.container_roof_form h2{
    margin-left: 100px;
    background: rosybrown;
    width: 250px;
}

.container_roof_form form {
    display: inline;
}

.container_roof_form form button {
    width: 300px;
    font-size: 21px;
    border-radius: 20px;
    margin-left: 100px;
}

.container_roof_form form input:focus{
    outline: none;
}

table tr, td,th {
    border:1px solid;
    align-content: center;
}

table {
    border-collapse: collapse;
}

table th {
    text-align: center;
}

.container_about{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto 30px;
}

.benefits__img{
    max-width: 100%;
}

.benefits__title{
    margin-bottom: 20px;
}

.benefits{
    border: 3px solid #f7cfa3;
    padding-top: 30px;
}

.invalid-feedback{
    color: red;
    font-size: 12px;
}


