.navbar {
    --bs-navbar-nav-link-padding-x: 3rem;
}
.navbar-brand {
    margin-left: 5%;
}
.navbar-brand img {
    width: 100%;
    max-width: 80px;
}

.navbar-brand text {
    font-family: 'Lucida Calligraphy', cursive;
    font-size: 28px;
    color: #ffffff;
}

.dp-nav img {
    width: 100%;
    max-width: 45px;
}

.nav-link {
    align-items: center;
    font-family: 'Inter', ui-serif;
    font-size: 18px;
    color: #ffffff;
}

.dp-nav{
    font-size: 20px;
    color: #ffffff;
    margin-right: auto;
}

.ms-auto {
    margin-right: 1%;
}

.mx-auto a{
    align-content: center;
}

.dp-nav::after{
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: url("../img/toggle.svg");
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.invalid-feedback{
    color: red;
    font-size: 12px;
}

.dropdown {
    padding-left: 0;
}
