{% extends 'base.html' %}

{% block content %}
    <div class = 'container py-5'>
        <h2>Форма авторизации</h2>
        <form method = "post" action = "{% url 'login' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p}}
            <tr>
                <td colspan="1">
                    <button type="submit">Авторизоваться</button>
                </td>
            </tr>
        </form>
        У вас нет созданного аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
    </div>
{% endblock %}