{% extends 'base.html' %}


{% block content %}
    <div class = 'container py-5'>
        <h2>Форма регистрации</h2>
        <form method = "post" action = "{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p}}
            {{ phone_form.as_p }}
            <tr>
                <td colspan="1">
                    <button type="submit">Зарегистрироваться</button>
                </td>
            </tr>
        </form>
        У вас уже имеется аккаунт? <a href="{% url 'login' %}">Войти</a>
    </div>
{% endblock %}
