{% extends 'roof_pages/start_page.html' %}

{% block content %}
    <div id='register' class="popup">
        <div class="popup_body">
            <div class="popup_content">
                <p class="pop">Форма регистрации</p>
                <a href="{% url 'home' %}" class="popup_close">&#10006</a>
                <form method = "post" action = "{% url 'register' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ phone_form.as_p }}
                    <tr>
                        <td colspan="1">
                            <button type="submit" class="popup_button">Зарегистрироваться</button>
                        </td>
                    </tr>
                </form>
                <div class="Sing_text">У вас уже имеется аккаунт? <a href="{% url 'login' %}">Войти</a></div>
            </div>
        </div>
    </div>
{#    <div class = 'container py-5'>#}
{#        <h2>Форма регистрации</h2>#}
{#        <form method = "post" action = "{% url 'register' %}" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{##}
{#            {{ form.as_p}}#}
{#            {{ phone_form.as_p }}#}
{#            <tr>#}
{#                <td colspan="1">#}
{#                    <button type="submit">Зарегистрироваться</button>#}
{#                </td>#}
{#            </tr>#}
{#        </form>#}
{#        У вас уже имеется аккаунт? <a href="{% url 'login' %}">Войти</a>#}
{#    </div>#}
{% endblock %}
